sudo: required
language: node_js
node_js: '8'
cache:
  apt: true
  directories:
  - node_modules
  - packages/healy-utility/node_modules
  - packages/healy-widget/node_modules
  - packages/healy-widget/bower_components
  - "$HOME/.npm"
addons:
  apt:
    sources:
      - google-chrome
    packages:
      - coreutils
      - google-chrome-stable
before_install:
  - npm install -g bower@latest nyc@latest lerna@^2
  - lerna bootstrap
  - cd packages/healy-widget
  - bower install
before_script:
  - echo "$GOOGLE_CREDENTIALS_BASE64" | base64 --decode > google-application-credentials.json
script:
  # Run our tests with virtual X frame buffer, needed for the selenium browser tests
  - xvfb-run lerna run test
after_success: npm run coverage
dist: trusty
